[groosha@main 01_quickstart]$ python3.10.4 -m venv venv
[groosha@main 01_quickstart]$ echo "aiogram==3.0.0b7" > requirements.txt
[groosha@main 01_quickstart]$ echo "python-dotenv==0.21.1" >> requirements.txt
[groosha@main 01_quickstart]$ source venv/bin/activate
(venv) [groosha@main 01_quickstart]$ pip install -r requirements.txt 
# ...здесь куча строк про установку...
Successfully installed ...тут длинный список...
[groosha@main 01_quickstart]$